
/* IMPORTANDO FUENTES */

@font-face
{
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-Light.ttf);
}

@font-face
{
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face
{
    font-family: "Atkinson Hyperlegible";
    src: url(Atkinson-Hyperlegible.otf);
}
@font-face
{
    font-family: "Atkinson Hyperlegible Italic";
    src: url(Atkinson-Hyperlegible-BoldItalic-102.otf);
}
/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    background: white;
}

/* UTILIDADES */
img
{
    max-width: 100%;
}
.contenedor
{
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

/* MIS ESTILOS */

.containerHeader
{
    height: 100vh;
    background:white;
    display: flex;
    justify-content: center; 
    align-items: center;
}
#Menu 
{
    width: 100%;
    background: rgb(5, 130, 202,.2);
    background-size:100%;
    margin:0;
    padding:0;
}
#Menu a
{
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin: auto;
}
h2
{
    display: inline-block;
}
.containMain
{
    display: grid;
    grid-template-columns: repeat( 2, 1fr) ;
    width: 100%;
    gap: 8rem;
    position: absolute;
    z-index: 1;
}

.ITEM h1
{
    font-family: "Atkinson Hyperlegible";
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    color: black;
}
.ITEM2
{
    font-family: "Atkinson Hyperlegible Italic";
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    color: #00A6FB;
}
.ITEM p
{
    font-size: 16px;
    color:black;
    font-family: "Lato";
    line-height: 2rem;
    margin: 2rem 0;
}
.ITEM:nth-of-type(2)
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVEGACION */

nav
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: .5rem 0;
}
nav .contenedor 
{
    display: flex;
    justify-content: space-between;
}
.contenedor .containerL
{
    display: inherit;
    align-items: center;
}
.IENSA
{
    font-family: "Roboto";
    font-size: 20px;
    color:black;
    margin-left: 10px;
}
.containerLinks
{
    margin-left: 0;
}
.containerLinks a
{
    margin-right: 20px;
    color:black;
    font-family: "Lato";
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}
.MATRICULA
{
    float: right;
    display: inline-block;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #00A6FB;
    border:#00A6FB;
    font-family: "Lato";
    font-size: 16px;
    color:white;
    outline: none;
    cursor: pointer;
    margin: auto;
    margin-right: 10px;
    margin-top: 5px;
}
.ACERCA
{
    float: right;
    display: inline-block;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #00A6FB;
    border:#00A6FB;
    font-family: "Lato";
    font-size: 16px;
    color:white;
    outline: none;
    cursor: pointer;
    margin: auto;
}
/* Fondo */

position: absolute;
width: 1600px;
height: 6818px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* 📝Admision */

position: absolute;
width: 1600px;
height: 939px;
left: 0px;
top: 5863px;



/* Barra de contacto */

position: absolute;
width: 1533px;
height: 299px;
left: 34px;
top: 6503px;



/* Colegio Nuestra Señora De La Asuncion */

position: absolute;
width: 466px;
height: 26px;
left: 625px;
top: 6776px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* Siguenos en: */

position: absolute;
width: 165px;
height: 28px;
left: 461px;
top: 6748px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* Telefono: 972386723 */

position: absolute;
width: 274px;
height: 26px;
left: 461px;
top: 6681px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* Av.Gloria.Zuñiga S/N */

position: absolute;
width: 260px;
height: 33px;
left: 461px;
top: 6631px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* 📖 */

position: absolute;
width: 31px;
height: 35px;
left: 1232px;
top: 6546px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Charla Virtual */

position: absolute;
width: 172px;
height: 19px;
left: 990px;
top: 6546px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* Trabaja con Nosotros */

position: absolute;
width: 250px;
height: 35px;
left: 687px;
top: 6546px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* Mapa del Sitio */

position: absolute;
width: 181px;
height: 19px;
left: 461px;
top: 6546px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* Linea separadora */

position: absolute;
width: 1024px;
height: 0px;
left: 461px;
top: 6616px;

border: 1px solid #000000;
transform: rotate(-0.11deg);


/* Linea separadora */

position: absolute;
width: 1017px;
height: 0px;
left: 458px;
top: 6730px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* Linea de barra */

position: absolute;
width: 1533px;
height: 0px;
left: 34px;
top: 6503px;

border: 1px solid #000000;
transform: rotate(0.07deg);


/* insignia-removebg-preview 1 */

position: absolute;
width: 93px;
height: 100px;
left: 173px;
top: 6581px;

background: url(insignia-removebg-preview);


/* Contacto */

position: absolute;
width: 307px;
height: 447px;
left: 1121px;
top: 5994px;



/* boton */

position: absolute;
width: 111px;
height: 27px;
left: 1317px;
top: 6414px;



/* Boton */

box-sizing: border-box;

position: absolute;
width: 111px;
height: 27px;
left: 1317px;
top: 6414px;

background: #00A6FB;
border: 1px solid rgba(0, 166, 251, 0.2);
box-shadow: 0px 4px 10px rgba(5, 25, 35, 0.1);
border-radius: 10px;


/* Enviar */

position: absolute;
width: 77px;
height: 20px;
left: 1339px;
top: 6414px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #FCFBFB;



/* Fondo3 */

box-sizing: border-box;

position: absolute;
width: 307px;
height: 183px;
left: 1121px;
top: 6209px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Barra2 */

position: absolute;
width: 307px;
height: 39px;
left: 1121px;
top: 6134px;



/* Fondo2 */

box-sizing: border-box;

position: absolute;
width: 307px;
height: 39px;
left: 1121px;
top: 6134px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Email */

position: absolute;
width: 73px;
height: 25px;
left: 1139px;
top: 6141px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* Barra1 */

position: absolute;
width: 307px;
height: 39px;
left: 1121px;
top: 6063px;



/* Fondo1 */

box-sizing: border-box;

position: absolute;
width: 307px;
height: 39px;
left: 1121px;
top: 6063px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Nombre */

position: absolute;
width: 107px;
height: 22px;
left: 1141px;
top: 6072px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #575B66;



/* 👨Contacto */

position: absolute;
width: 142px;
height: 25px;
left: 1121px;
top: 5994px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Comentario y/o Sugerencias */

position: absolute;
width: 414px;
height: 469px;
left: 576px;
top: 5998px;



/* Comentario */

box-sizing: border-box;

position: absolute;
width: 410px;
height: 42px;
left: 580px;
top: 6187px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Nombre: Especialidad: Grado Academico: */

position: absolute;
width: 181.16px;
height: 69px;
left: 756px;
top: 6085px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 130.84px;
height: 122px;
left: 590px;
top: 6049px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* 📑Comentario y/o Sugerencias */

position: absolute;
width: 356px;
height: 35px;
left: 590px;
top: 5998px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Sugerencia */

position: absolute;
width: 410px;
height: 197px;
left: 576px;
top: 6270px;



/* Comentario */

box-sizing: border-box;

position: absolute;
width: 410px;
height: 42px;
left: 576px;
top: 6425px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Nombre: Especialidad: Grado Academico: */

position: absolute;
width: 181.16px;
height: 69px;
left: 752px;
top: 6312px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 130.84px;
height: 122px;
left: 576px;
top: 6270px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Criterios De Evaluacion */

position: absolute;
width: 404px;
height: 180px;
left: 54px;
top: 6254px;



/* 📊Criterios De Evaluacion */

position: absolute;
width: 311px;
height: 31px;
left: 123px;
top: 6254px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 404px;
height: 142px;
left: 54px;
top: 6292px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Numeros de Vacantes */

position: absolute;
width: 464.97px;
height: 235.04px;
left: 34px;
top: 5994px;



/* 🔢 Numeros de Vacantes */

position: absolute;
width: 281px;
height: 21px;
left: 129px;
top: 5994px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 404px;
height: 142px;
left: 54px;
top: 6042px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Linea 1 */

position: absolute;
width: 464.98px;
height: 0px;
left: 34px;
top: 6228px;

border: 1px solid #000000;
transform: matrix(1, 0, 0, 1, 0, 0);


/* Linea1 */

position: absolute;
width: 477px;
height: 0px;
left: 533px;
top: 5998px;

border: 1px solid #000000;
transform: rotate(90deg);


/* Line 2 */

position: absolute;
width: 477px;
height: 0px;
left: 1055px;
top: 5994px;

border: 1px solid #000000;
transform: rotate(89.76deg);


/* Admision */

position: absolute;
width: 188px;
height: 54px;
left: 687px;
top: 5908px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 111.5%;
/* or 45px */

color: #00A6FB;



/* Linea */

position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 5863px;

border: 1px solid #989696;


/* 📗Formato Pedagogico */

position: absolute;
width: 1600px;
height: 911px;
left: 6px;
top: 4850px;



/* Formato de Informe Tecnico */

position: absolute;
width: 1314px;
height: 169px;
left: 164px;
top: 5592px;



/* Descripcion */

position: absolute;
width: 1017.39px;
height: 117.61px;
left: 460.61px;
top: 5643.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 📊 */

position: absolute;
width: 216.87px;
height: 47.96px;
left: 164px;
top: 5645.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Formato de Informe Tecnico */

position: absolute;
width: 854.74px;
height: 47.96px;
left: 511.64px;
top: 5592px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Line 3 */

position: absolute;
width: 1356px;
height: 0px;
left: 129px;
top: 5580px;

border: 1px solid #000000;
transform: rotate(0.04deg);


/* Formato de experiencias de Aprendizaje */

position: absolute;
width: 1316px;
height: 169px;
left: 164px;
top: 5373px;



/* Descripcion */

position: absolute;
width: 1018.94px;
height: 117.61px;
left: 461.06px;
top: 5424.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 🗓️ */

position: absolute;
width: 217.2px;
height: 47.96px;
left: 164px;
top: 5426.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Formato de experiencias de Aprendizaje */

position: absolute;
width: 856.04px;
height: 47.96px;
left: 512.17px;
top: 5373px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Line 2 */

position: absolute;
width: 1356px;
height: 0px;
left: 135px;
top: 5356px;

border: 1px solid #000000;
transform: rotate(0.04deg);


/* Formato de Registro de Notas */

position: absolute;
width: 1339px;
height: 182px;
left: 156px;
top: 5147px;



/* Descripcion */

position: absolute;
width: 1036.75px;
height: 117.61px;
left: 458.25px;
top: 5211.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 📝 */

position: absolute;
width: 221px;
height: 47.96px;
left: 156px;
top: 5213.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Formato de Registro de Notas */

position: absolute;
width: 871px;
height: 47.96px;
left: 486.85px;
top: 5147px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Line 1 */

position: absolute;
width: 1356px;
height: 0px;
left: 135px;
top: 5130px;

border: 1px solid #000000;
transform: rotate(0.04deg);


/* Formato de Registro de Asistencia */

position: absolute;
width: 1348px;
height: 169px;
left: 164px;
top: 4961px;



/* Descripcion */

position: absolute;
width: 1043.72px;
height: 117.61px;
left: 468.28px;
top: 5012.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 📗 */

position: absolute;
width: 222.49px;
height: 47.96px;
left: 164px;
top: 5014.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Formato de Registro de Asistencia */

position: absolute;
width: 876.85px;
height: 47.96px;
left: 520.63px;
top: 4961px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Formatos Pedagogicos */

position: absolute;
width: 579px;
height: 62px;
left: 522px;
top: 4866px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 57px;
text-align: center;
letter-spacing: 0.02em;

color: #00A6FB;



/* Linea */

position: absolute;
width: 1600px;
height: 0px;
left: 6px;
top: 4850px;

border: 1px solid #989696;


/* 📝Calendarios Actividades */

position: absolute;
width: 1600px;
height: 874px;
left: 0px;
top: 3914px;



/* Dia Del Logro */

position: absolute;
width: 424px;
height: 250px;
left: 1095px;
top: 4524px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 424px;
height: 250px;
left: 1095px;
top: 4524px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 347px;
height: 133px;
left: 1133px;
top: 4598px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* 📗 Dia Del Logro */

position: absolute;
width: 247px;
height: 31px;
left: 1133px;
top: 4547px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Proyectos */

position: absolute;
width: 424px;
height: 250px;
left: 579px;
top: 4531px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 424px;
height: 250px;
left: 579px;
top: 4531px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 347px;
height: 133px;
left: 617px;
top: 4605px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* 🗓️ Proyectos */

position: absolute;
width: 189px;
height: 31px;
left: 617px;
top: 4554px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Simulacro */

position: absolute;
width: 424px;
height: 250px;
left: 58px;
top: 4538px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 424px;
height: 250px;
left: 58px;
top: 4538px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 347px;
height: 133px;
left: 96px;
top: 4612px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* 👷 Simulacro */

position: absolute;
width: 159px;
height: 31px;
left: 96px;
top: 4561px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Aniversario */

position: absolute;
width: 424px;
height: 250px;
left: 1088px;
top: 4235px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 424px;
height: 250px;
left: 1088px;
top: 4235px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 347px;
height: 133px;
left: 1126px;
top: 4309px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* 🏨 Aniversario */

position: absolute;
width: 221px;
height: 31px;
left: 1126px;
top: 4258px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Fechas Civicas */

position: absolute;
width: 424px;
height: 250px;
left: 579px;
top: 4228px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 424px;
height: 250px;
left: 579px;
top: 4228px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 347px;
height: 133px;
left: 617px;
top: 4302px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* 🏐 Deportes */

position: absolute;
width: 189px;
height: 31px;
left: 617px;
top: 4251px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Fechas Civicas */

position: absolute;
width: 424px;
height: 250px;
left: 59px;
top: 4235px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 424px;
height: 250px;
left: 59px;
top: 4235px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 347px;
height: 133px;
left: 97px;
top: 4309px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* 🎉 Fechas Civicas */

position: absolute;
width: 213px;
height: 31px;
left: 97px;
top: 4258px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Nuestras Actividades */

position: absolute;
width: 1494px;
height: 164px;
left: 59px;
top: 4018px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 1494px;
height: 164px;
left: 59px;
top: 4018px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 1182px;
height: 83px;
left: 310px;
top: 4079px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* Nuestras Actividades */

position: absolute;
width: 307px;
height: 26px;
left: 310px;
top: 4038px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Linea */

position: absolute;
width: 124px;
height: 0px;
left: 249px;
top: 4038px;

border: 1px solid rgba(5, 25, 35, 0.2);
transform: rotate(90deg);


/* 📑 */

position: absolute;
width: 51px;
height: 44px;
left: 137px;
top: 4076px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 57px;

color: #000000;



/* Calendario de Actividades */

position: absolute;
width: 644px;
height: 71px;
left: 518px;
top: 3947px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 57px;
text-align: center;
letter-spacing: 0.02em;

color: #00A6FB;



/* Linea */

position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 3914px;

border: 1px solid #989696;


/* 🏨ExperienciaEducativa */

position: absolute;
width: 1600px;
height: 911px;
left: 0px;
top: 2949px;



/* Politicas y Reglamento */

position: absolute;
width: 429px;
height: 169px;
left: 957px;
top: 3691px;



/* Descripcion */

position: absolute;
width: 332.16px;
height: 117.61px;
left: 1053.84px;
top: 3742.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 📝 */

position: absolute;
width: 70.81px;
height: 47.96px;
left: 957px;
top: 3744.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Politicas y Reglamento */

position: absolute;
width: 279.06px;
height: 47.96px;
left: 1070.5px;
top: 3691px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Deporte */

position: absolute;
width: 429px;
height: 169px;
left: 158px;
top: 3691px;



/* Descripcion */

position: absolute;
width: 332.16px;
height: 117.61px;
left: 254.84px;
top: 3742.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 🏐 */

position: absolute;
width: 70.81px;
height: 47.96px;
left: 158px;
top: 3744.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Deporte */

position: absolute;
width: 279.06px;
height: 47.96px;
left: 271.5px;
top: 3691px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Nuestro Espacio */

position: absolute;
width: 429px;
height: 169px;
left: 957px;
top: 3499px;



/* Descripcion */

position: absolute;
width: 332.16px;
height: 117.61px;
left: 1053.84px;
top: 3550.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 🏨 */

position: absolute;
width: 70.81px;
height: 47.96px;
left: 957px;
top: 3552.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Nuestro Espacio */

position: absolute;
width: 279.06px;
height: 47.96px;
left: 1070.5px;
top: 3499px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Educamos en Familia */

position: absolute;
width: 429px;
height: 169px;
left: 158px;
top: 3472px;



/* Descripcion */

position: absolute;
width: 332.16px;
height: 117.61px;
left: 254.84px;
top: 3523.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 💪 */

position: absolute;
width: 70.81px;
height: 47.96px;
left: 158px;
top: 3525.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Educamos en Familia */

position: absolute;
width: 279.06px;
height: 47.96px;
left: 271.5px;
top: 3472px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Tecnologia e Inovacion */

position: absolute;
width: 429px;
height: 169px;
left: 957px;
top: 3282px;



/* Descripcion */

position: absolute;
width: 332.16px;
height: 117.61px;
left: 1053.84px;
top: 3333.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 👩‍💻 */

position: absolute;
width: 70.81px;
height: 47.96px;
left: 957px;
top: 3335.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Tecnologia e Inovacion */

position: absolute;
width: 279.06px;
height: 47.96px;
left: 1070.5px;
top: 3282px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Line 10 */

position: absolute;
width: 1356px;
height: 0px;
left: 123px;
top: 3679px;

border: 1px solid #000000;
transform: rotate(0.04deg);


/* Acompañamiento por Seccion */

position: absolute;
width: 429px;
height: 182px;
left: 150px;
top: 3246px;



/* Descripcion */

position: absolute;
width: 332.16px;
height: 117.61px;
left: 246.84px;
top: 3310.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 👨🏽‍🤝‍👨🏻 */

position: absolute;
width: 70.81px;
height: 47.96px;
left: 150px;
top: 3312.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Acompañamiento por Seccion */

position: absolute;
width: 279.06px;
height: 47.96px;
left: 256px;
top: 3246px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Excelencia Academica */

position: absolute;
width: 1356px;
height: 396px;
left: 129px;
top: 3060px;



/* Line 11 */

position: absolute;
width: 1356px;
height: 0px;
left: 129px;
top: 3455px;

border: 1px solid #000000;
transform: rotate(0.04deg);


/* Descripcion */

position: absolute;
width: 332.16px;
height: 117.61px;
left: 1064.84px;
top: 3111.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 🎓 */

position: absolute;
width: 70.81px;
height: 47.96px;
left: 968px;
top: 3113.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Excelencia Academica */

position: absolute;
width: 279.06px;
height: 47.96px;
left: 1081.5px;
top: 3060px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Formacion Integral */

position: absolute;
width: 429px;
height: 169px;
left: 158px;
top: 3060px;



/* Descripcion */

position: absolute;
width: 332.16px;
height: 117.61px;
left: 254.84px;
top: 3111.39px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* 👨‍👩‍👧‍👦 */

position: absolute;
width: 70.81px;
height: 47.96px;
left: 158px;
top: 3113.67px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Formacion Integral */

position: absolute;
width: 279.06px;
height: 47.96px;
left: 271.5px;
top: 3060px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Line 12 */

position: absolute;
width: 1356px;
height: 0px;
left: 129px;
top: 3229px;

border: 1px solid #000000;
transform: rotate(0.04deg);


/* ¿Por que estudiar aqui? */

position: absolute;
width: 579px;
height: 62px;
left: 516px;
top: 2965px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 57px;
text-align: center;
letter-spacing: 0.02em;

color: #00A6FB;



/* Linea */

position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 2949px;

border: 1px solid #989696;


/* 💪Comunidad */

position: absolute;
width: 1600px;
height: 949px;
left: 0px;
top: 1984px;



/* 🎓Ex-Alumnos */

position: absolute;
width: 470px;
height: 388px;
left: 1095px;
top: 2545px;



/* La Asociación de Padres de Familia, representa a los padres de familia en el diálogo con el colegio, canalizando sus esfuerzos e inquietudes generales en la relación con el mismo y sirviendo de espacio de encuentro y comunicación. */

position: absolute;
width: 470px;
height: 194px;
left: 1095px;
top: 2739px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* Nombre: Especialidad: Grado Academico: */

position: absolute;
width: 181.16px;
height: 69px;
left: 1244px;
top: 2649px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 130.84px;
height: 122px;
left: 1102px;
top: 2596px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* 🎓 Ex-Alumnos */

position: absolute;
width: 198px;
height: 25px;
left: 1111px;
top: 2545px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Linea 3 */

position: absolute;
width: 464.98px;
height: 0px;
left: 1092px;
top: 2521px;

border: 1px solid #989696;
transform: matrix(1, 0, 0, 1, 0, 0);


/* 🧑‍🏫Estudiante */

position: absolute;
width: 470px;
height: 434px;
left: 1089px;
top: 2101px;



/* Nombre: Especialidad: Grado Academico: */

position: absolute;
width: 181.16px;
height: 69px;
left: 1269px;
top: 2236px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* La Asociación de Padres de Familia, representa a los padres de familia en el diálogo con el colegio, canalizando sus esfuerzos e inquietudes generales en la relación con el mismo y sirviendo de espacio de encuentro y comunicación. */

position: absolute;
width: 470px;
height: 194px;
left: 1089px;
top: 2341px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #575B66;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 130.84px;
height: 122px;
left: 1102px;
top: 2194px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* 👩‍🏫 Estudiante */

position: absolute;
width: 178px;
height: 29px;
left: 1156px;
top: 2101px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Line 2 */

position: absolute;
visibility: hidden;
width: 763.01px;
height: 0px;
left: 1062px;
top: 2158px;

border: 1px solid #989696;
transform: rotate(89.77deg);


/* 👨‍👩‍👧‍👦APAFA */

position: absolute;
width: 472px;
height: 829px;
left: 565px;
top: 2101px;



/* Cuadro de apafa */

box-sizing: border-box;

position: absolute;
width: 432.33px;
height: 372.4px;
left: 579.24px;
top: 2557.6px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* ‍👨‍👦‍👦Junta Directiva APAFA 2021 -2022 */

position: absolute;
width: 433px;
height: 26px;
left: 579px;
top: 2485px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* La Asociación de Padres de Familia, representa a los padres de familia en el diálogo con el colegio, canalizando sus esfuerzos e inquietudes generales en la relación con el mismo y sirviendo de espacio de encuentro y comunicación. */

position: absolute;
width: 472px;
height: 266.62px;
left: 565px;
top: 2193.83px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #000000;



/* 💪 APAFA */

position: absolute;
width: 142px;
height: 29px;
left: 579px;
top: 2101px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Linea1 */

position: absolute;
visibility: hidden;
width: 772.01px;
height: 0px;
left: 536px;
top: 2158px;

border: 1px solid #989696;
transform: rotate(89.7deg);


/* 👩‍🏫Docentes */

position: absolute;
width: 483px;
height: 819px;
left: 40px;
top: 2104px;



/* Docente5 */

position: absolute;
width: 476px;
height: 125px;
left: 47px;
top: 2798px;



/* Nombre y Apellido: Maria Doe Especialidad: Matematica Grado Academico: Licenciatura */

position: absolute;
width: 331px;
height: 81px;
left: 192px;
top: 2820px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #051923;



/* Foto */

box-sizing: border-box;

position: absolute;
width: 125px;
height: 125px;
left: 47px;
top: 2798px;

background: url(.png);
border: 2px solid #00A6FB;
filter: drop-shadow(0px 4px 20px rgba(5, 130, 202, 0.25));


/* Docente4 */

position: absolute;
width: 476px;
height: 131px;
left: 40px;
top: 2647px;



/* Linea 1 */

position: absolute;
width: 323px;
height: 0px;
left: 185px;
top: 2778px;

border: 1px solid #989696;


/* Nombre y Apellido: Maria Doe Especialidad: Matematica Grado Academico: Licenciatura */

position: absolute;
width: 331px;
height: 81px;
left: 185px;
top: 2669px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #051923;



/* Foto */

box-sizing: border-box;

position: absolute;
width: 125px;
height: 125px;
left: 40px;
top: 2647px;

background: url(.png);
border: 2px solid #00A6FB;
filter: drop-shadow(0px 4px 20px rgba(5, 130, 202, 0.25));


/* Docente3 */

position: absolute;
width: 476px;
height: 131px;
left: 47px;
top: 2496px;



/* Linea 1 */

position: absolute;
width: 323px;
height: 0px;
left: 192px;
top: 2627px;

border: 1px solid #989696;


/* Nombre y Apellido: Maria Doe Especialidad: Matematica Grado Academico: Licenciatura */

position: absolute;
width: 331px;
height: 81px;
left: 192px;
top: 2518px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #051923;



/* Foto */

box-sizing: border-box;

position: absolute;
width: 125px;
height: 125px;
left: 47px;
top: 2496px;

background: url(.png);
border: 2px solid #00A6FB;
filter: drop-shadow(0px 4px 20px rgba(5, 130, 202, 0.25));


/* Docente2 */

position: absolute;
width: 476px;
height: 131px;
left: 47px;
top: 2345px;



/* Linea 1 */

position: absolute;
width: 323px;
height: 0px;
left: 192px;
top: 2476px;

border: 1px solid #989696;


/* Nombre y Apellido: Maria Doe Especialidad: Matematica Grado Academico: Licenciatura */

position: absolute;
width: 331px;
height: 81px;
left: 192px;
top: 2367px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #051923;



/* Foto */

box-sizing: border-box;

position: absolute;
width: 125px;
height: 125px;
left: 47px;
top: 2345px;

background: url(.png);
border: 2px solid #00A6FB;
filter: drop-shadow(0px 4px 20px rgba(5, 130, 202, 0.25));


/* Docente1 */

position: absolute;
width: 476px;
height: 131px;
left: 47px;
top: 2194px;



/* Linea 1 */

position: absolute;
width: 323px;
height: 0px;
left: 192px;
top: 2325px;

border: 1px solid #989696;


/* Nombre y Apellido: Maria Doe Especialidad: Matematica Grado Academico: Licenciatura */

position: absolute;
width: 331px;
height: 81px;
left: 192px;
top: 2216px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #051923;



/* Foto */

box-sizing: border-box;

position: absolute;
width: 125px;
height: 125px;
left: 47px;
top: 2194px;

background: url();
border: 2px solid #00A6FB;
filter: drop-shadow(0px 4px 20px rgba(5, 130, 202, 0.25));


/* 👩‍🏫 Docentes */

position: absolute;
width: 163px;
height: 24px;
left: 91px;
top: 2104px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 111.5%;
/* or 27px */

color: #000000;



/* Comunidad */

position: absolute;
width: 260px;
height: 54px;
left: 687px;
top: 2029px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 111.5%;
/* or 45px */

color: #00A6FB;



/* Linea */

position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 1984px;

border: 1px solid #989696;


/* ✏️ Información del colegio */

position: absolute;
width: 1494px;
height: 855px;
left: 53px;
top: 1030px;



/* Palabras del director */

position: absolute;
width: 472px;
height: 549px;
left: 1075px;
top: 1336px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 472px;
height: 549px;
left: 1075px;
top: 1336px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Perfil */

position: absolute;
width: 178px;
height: 194px;
left: 1100px;
top: 1380px;

background: url(directora);
border-radius: 10px;


/* Rectangle 39 */

box-sizing: border-box;

position: absolute;
width: 472px;
height: 549px;
left: 540px;
top: 1336px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Visón */

position: absolute;
width: 424px;
height: 250px;
left: 53px;
top: 1635px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 424px;
height: 250px;
left: 53px;
top: 1635px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 347px;
height: 133px;
left: 92px;
top: 1720px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* 🧐 Visión */

position: absolute;
width: 119px;
height: 31px;
left: 91px;
top: 1659px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Misión */

position: absolute;
width: 424px;
height: 250px;
left: 53px;
top: 1336px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 424px;
height: 250px;
left: 53px;
top: 1336px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 347px;
height: 133px;
left: 91px;
top: 1410px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* 🤩 Misión */

position: absolute;
width: 119px;
height: 31px;
left: 91px;
top: 1359px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Historia */

position: absolute;
width: 1494px;
height: 164px;
left: 53px;
top: 1124px;



/* Fondo */

box-sizing: border-box;

position: absolute;
width: 1494px;
height: 164px;
left: 53px;
top: 1124px;

border: 1px solid rgba(5, 25, 35, 0.2);
filter: drop-shadow(0px 4px 10px rgba(5, 25, 35, 0.1));
border-radius: 10px;


/* Descripción */

position: absolute;
width: 1182px;
height: 83px;
left: 304px;
top: 1185px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* Reseña historica */

position: absolute;
width: 257px;
height: 31px;
left: 304px;
top: 1144px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;



/* Linea */

position: absolute;
width: 124px;
height: 0px;
left: 243px;
top: 1144px;

border: 1px solid rgba(5, 25, 35, 0.2);
transform: rotate(90deg);


/* icono */

position: absolute;
width: 108px;
height: 108px;
left: 96px;
top: 1152px;

background: url(historia.png);
border-radius: 10px;


/* Quienes somos */

position: absolute;
width: 396px;
height: 64px;
left: 602px;
top: 1030px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #00A6FB;



/* 🏠 Principal */

position: absolute;
width: 1600px;
height: 1000px;
left: 0px;
top: 0px;



/* Separador */

position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 1000px;

border: 1px solid #989696;


/* Redes Sociales */

position: absolute;
width: 27.93px;
height: 129.6px;
left: 1533px;
top: 453px;



/* Whatsapp */

position: absolute;
width: 27px;
height: 26px;
left: 1533.93px;
top: 556.6px;



/* Vector */

position: absolute;
left: 1.73%;
right: 1.73%;
top: 1.73%;
bottom: 1.73%;

background: linear-gradient(0deg, #1FAF38 0%, #60D669 100%);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(0deg, #F9F9F9 0%, #FFFFFF 100%);


/* Vector */

position: absolute;
left: 24.91%;
right: 24.53%;
top: 26.67%;
bottom: 26.65%;

background: #FFFFFF;


/* twitter */

position: absolute;
left: 95.81%;
right: 2.5%;
top: 7.66%;
bottom: 91.96%;

background: #85B6FF;


/* instagram */

position: absolute;
left: 95.87%;
right: 2.44%;
top: 7.15%;
bottom: 92.47%;

background: #D99BFF;


/* facebook */

position: absolute;
left: 95.87%;
right: 2.44%;
top: 6.64%;
bottom: 92.97%;

background: #699BF7;


/* Intersect */

position: absolute;
width: 629.06px;
height: 619.41px;
left: 857px;
top: 190px;

background: url(SEGUNDO.jpg);
box-shadow: 0px 4px 25px rgba(5, 25, 35, 0.1);


/* Vector */

position: absolute;
width: 629.06px;
height: 619.41px;
left: 857px;
top: 190px;

background: #C4C4C4;


/* SEGUNDO 1 */

position: absolute;
width: 1069px;
height: 642px;
left: 687px;
top: 181px;

background: url(SEGUNDO.jpg);


/* Boton Explorar */

position: absolute;
width: 212px;
height: 43px;
left: 152px;
top: 660px;



/* Rectangle 2 */

position: absolute;
width: 212px;
height: 43px;
left: 152px;
top: 660px;

background: #00A6FB;
border-radius: 15px;


/* Explorar... */

position: absolute;
width: 170px;
height: 22px;
left: 173px;
top: 671px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #FFFFFF;



/* Alguna descripción que este relacionado con el colegio, puede ser la visión de la institución educativa texto texto texto textotexto ... */

position: absolute;
width: 526px;
height: 105px;
left: 152px;
top: 545px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #575B66;



/* Bienvenidos al colegio, Nuestra Señora de la Asunción */

position: absolute;
width: 648px;
height: 180px;
left: 152px;
top: 356px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 54px;

color: #051923;



/* Menu */

position: absolute;
width: 1600px;
height: 87px;
left: 0px;
top: 0px;



/* Rectangle 1 */

position: absolute;
width: 1600px;
height: 87px;
left: 0px;
top: 0px;

background: rgba(5, 130, 202, 0.1);
box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);


/* btn-matriculate */

position: absolute;
width: 170.26px;
height: 44.54px;
left: 1383.94px;
top: 28px;



/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 170px;
height: 43px;
left: 1384.21px;
top: 28px;

background: #00A6FB;
border: 2px solid #00A6FB;
border-radius: 15px;
transform: matrix(1, 0.01, -0.01, 1, 0, 0);


/* Matriculate */

position: absolute;
width: 170px;
height: 41px;
left: 1384px;
top: 30px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Admision */

position: absolute;
width: 122.22px;
height: 29px;
left: 1227px;
top: 33px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #051923;



/* Formatos Pedagogicos */

position: absolute;
width: 256px;
height: 30px;
left: 971px;
top: 32px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #000000;



/* Calendario de actividades */

position: absolute;
width: 276px;
height: 29px;
left: 695px;
top: 33px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #051923;



/* Experiencia Educativa */

position: absolute;
width: 225.25px;
height: 29px;
left: 453px;
top: 33px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #051923;



/* Comunidad */

position: absolute;
width: 122.22px;
height: 29px;
left: 303px;
top: 33px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #051923;



/* Colegio */

position: absolute;
width: 122.22px;
height: 29px;
left: 173px;
top: 31px;

font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #051923;



/* insignia-removebg-preview 1 */

position: absolute;
width: 56.57px;
height: 59px;
left: 57px;
top: 14px;

background: url(insignia-removebg-preview);
