
/* IMPORTANDO FUENTES */

@font-face
{
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-Light.ttf);
}

@font-face
{
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face
{
    font-family: "Atkinson Hyperlegible";
    src: url(Atkinson-Hyperlegible.otf);
}
@font-face
{
    font-family: "Atkinson Hyperlegible Italic";
    src: url(Atkinson-Hyperlegible-BoldItalic-102.otf);
}
/* ---- reset ---- */
nav
{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #00A6FB;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 300ms case;
}
nav .contenedor 
{
    display: flex;
    justify-content: space-between;
}
.contenedor
{
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

.contenedor .containerL
{
    display: inherit;
    align-items: center;
}
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    background: white;
}

.FLOTANTES .WHATSAPP
{
    display:block;
    width:70px;
    height:70px;
    color: #fff;;
    position:fixed;
    right:20px;
    top: 55px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    margin-right: -20px;
}
.FLOTANTES .FACEBOOK
{
    display:block;
    width:70px;
    height:70px;
    color: #fff;;
    position:fixed;
    right:-10px;
    top:100px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    margin-right: 10px;
}
.FLOTANTES .INSTAGRAM
{
    display:block;
    width:55px;
    height:55px;
    color: #fff;;
    position:fixed;
    right:3px;
    top:155px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    margin-right: 10px;
}
.ACERCA
{
    float: right;
    display: inline-block;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #00A6FB;
    border:#00A6FB;
    font-family: "Lato";
    font-size: 16px;
    color:white;
    outline: none;
    cursor: pointer;
    margin: auto;
    margin-right: 10px;
    margin-top: 5px;
}
/* UTILIDADES */
.CAMBIANTE
{
    margin-top: 75px;
    position: center;
    max-width: 100%;
    border-radius: 10%;
}

/* MIS ESTILOS */

.containerHeader
{
    height: 100vh;
    background:white;
    display: flex;
    justify-content: center; 
    align-items: center;
}
#Menu 
{
    width: 100%;
    background: rgb(5, 130, 202,.2);
    background-size:100%;
    margin:0;
    padding:0;
}
#Menu a
{
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin: auto;
}
h2
{
    display: inline-block;
}
.containMain
{
    display: grid;
    grid-template-columns: repeat( 2, 1fr) ;
    width: 100%;
    gap: 8rem;
    position: absolute;
    z-index: 1;
}

.ITEM h1
{
    font-family: "Atkinson Hyperlegible";
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    color: black;
}
.ITEM2
{
    font-family: "Atkinson Hyperlegible Italic";
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    color: #00A6FB;
}
.ITEM p
{
    font-size: 16px;
    color:black;
    font-family: "Lato";
    line-height: 2rem;
    margin: 2rem 0;
}
.ITEM:nth-of-type(2)
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVEGACION */
.containerLinks
{
    margin-left: 0;
}
.IENSA
{
    font-family: "Roboto";
    font-size: 20px;
    color:black;
    margin-left: 10px;
}
.containerLinks
{
    margin-left: 0;
}
.containerLinks a
{
    margin-right: 20px;
    color:black;
    font-family: "Lato";
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}
.containerLinks a:hover
{
    color: white;

}
.MATRICULA
{
    float: right;
    display: inline-block;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #00A6FB;
    border:#00A6FB;
    font-family: "Lato";
    font-size: 16px;
    color:white;
    outline: none;
    cursor: pointer;
    margin: auto;
    margin-right: 10px;
    margin-top: 5px;
}
.report
{
    float: right;
    display: inline-block;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #00A6FB;
    border:#00A6FB;
    font-family: "Lato";
    font-size: 16px;
    color:white;
    outline: none;
    cursor: pointer;
    margin: auto;
}
.containerHistory
{
    float: right;
    display: inline-block;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    font-size: 16px;
    color:rgb(66, 17, 240);
    outline: none;
    cursor: pointer;
    margin: auto;
}
.GIRATORIO
{
    position: relative;
    width: 300px;
    height: 350px; 

}
.EXPANDIR:hover
{
    transform: scale(1.15);
}